.presentation-el{class: format_oldness(presentation.created_at)}
  .presentation
    %h3
      = presentation.title
      - if presentation.length && presentation.length < 6
        (lightning talk)
      - else
        (durée : #{presentation.length || 20} min)
    proposé par #{presentation.name}
  .difficulty
    Niveau requis:
    - (presentation.difficulty || 1).to_i.times do
      = image_tag('ruby.png')
  .clear