.btn {
    cursor: pointer;
    background-color: $greyVeryLighter;
    border          : 1px solid #b5b5b5;
    text-shadow     : 0 1px 0 white;
    padding         : 0.4em 0.9em;
    @include border-radius(3px);
    @include box-shadow(inset 0 0 4px #fff ,0 1px 1px rgba(0,0,0,0.12));
    @include background-image(linear-gradient(top, #fefefe,#f2f2f2));
    font-size: 1em;
}

.btn:active, .btn--active {
    background-color: #ebebeb;
    @include background-image(linear-gradient(top, #dad9d9, #ebebeb));
    @include box-shadow(inset 0 1px 5px rgba(0,0,0,0.22),0 1px 0 rgba(255,255,255,0.4));
}
