.flash {
    text-align                  : center;
    padding                     : 1em;
    width                       : 50%;
    margin                      : 0 auto;
    border                      : 1px solid #CCC;
    border-bottom-left-radius   : 0.5em;
    border-bottom-right-radius  : 0.5em;
}

.notice {
    border-color    : darken($greenBackground, 10%);
    background-color: $greenBackground;
    color           : $green;
}
