.presentation-el {
  background-color  : $greyLighter;
  border            : 1px solid $grey;
  margin-bottom     : 20px;
  padding           : 1em;
  @include border-radius(3px);
}

.more-than-one-month-old {
  opacity: .7;
}

.more-than-two-month-old {
  opacity: .7;
  background-color  : white;

}
